Уважаемый(ая) [$TO_NAME$],<br /><br />

Пользователь [$BLOGS_ENTRY_USER_NAME$] опубликовал новую запись в блоге.<br /><br />

[$BLOGS_ENTRY_URL$]<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />