Уважаемый(ая) [$TO_NAME$],<br /><br />

Ваш запрос на вступление в сайт [$SITE_NAME$] изменил статус: [$STATUS$].<br /><br />

Ниже комментарии от администратора:<br /><br />

----------<br />
[$REPLY_COMMENTS$]<br />
----------<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />