Уважаемый(ая) [$TO_NAME$],<br /><br />

Для сайта [$SITE_NAME$] доступен новый запрос на доступ от пользователя [$REQUEST_USER_NAME$] ([$REQUEST_USER_ADDRESS$]).<br /><br />

Вы получили это письмо так как являетесь администратором этого сайта. Поалуйста используйте панель управления сайтом для обработки этого запроса.<br /><br />

Пользователь добавил следующий комментарий к запросу:<br /><br />

----------<br />
[$COMMENTS$]<br />
----------<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />