Уважаемый(ая) [$TO_NAME$],<br /><br />

Вы можете изменить свой пароль на портале [$PORTAL_URL$] пройдя по ссылке [$PASSWORD_RESET_URL$].<br /><br />

Запрос на смену адресы был выполнен с  [$REMOTE_ADDRESS$] / [$REMOTE_HOST$].<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />