Уважаемый(ая) [$TO_NAME$],<br /><br />

Добро пожаловать! Вы только что создали учетную запись на портале [$PORTAL_URL$].<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />