Уважаемый(ая) [$TO_NAME$],<br /><br />

Ваш новый пароль для портала [$PORTAL_URL$] : [$USER_PASSWORD$].<br /><br />

Запрос на изменение пароля был выполнен с  [$REMOTE_ADDRESS$] / [$REMOTE_HOST$].<br /><br />

С уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />