Уважаемый(ая) [$TO_NAME$],<br /><br />

Это автоматическое письмо от портлета [$PORTLET_NAME$].<br /><br />

Статья с ID [$ARTICLE_ID$], версией [$ARTICLE_VERSION$] и заголовком [$ARTICLE_TITLE$] была изменена.<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />