Уважаемый(ая) [$TO_NAME$],<br /><br />

Это автоматическое письмо от портлета [$PORTLET_NAME$].<br /><br />

Ваша статья с ID [$ARTICLE_ID$], версией [$ARTICLE_VERSION$] и заголовком [$ARTICLE_TITLE$] принята и опубликована.<br /><br />

Вы можете просмотреть свою статью по ссылке:<br /><br />

[$ARTICLE_URL$]<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />