Уважаемый(ая) [$TO_NAME$],<br /><br />

Пользователь [$BOOKMARKS_ENTRY_STATUS_BY_USER_NAME$] изменил закладку.<br /><br />

[$BOOKMARKS_ENTRY_URL$]<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />