Уважаемый(ая) [$TO_NAME$],<br /><br />

Пользователь [$BOOKMARKS_ENTRY_USER_NAME$] создал новую закладку.<br /><br />

[$BOOKMARKS_ENTRY_URL$]<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />