Уважаемый(ая) [$TO_NAME$],<br /><br />

Это автоматическое письмо от портлета [$PORTLET_NAME$].<br /><br />

Ваш заказ был оплачен.<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />