Уважаемый(ая) [$TO_NAME$],<br /><br />

Пользователь [$COMMENTS_USER_NAME$] добавил новый комментарий.<br /><br />

----------<br />
[$COMMENTS_BODY$]<br />
----------<br /><br />

<a href="[$CONTENT_URL$]">Посмотреть комментарий.</a><br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />