Уважаемый(ая) [$TO_NAME$],<br /><br />

Это автоматическое письмо от портлета [$PORTLET_NAME$].<br /><br />

Документ с типом  [$DOCUMENT_TYPE$] и именем [$DOCUMENT_TITLE$] был изменен в папке [$FOLDER_NAME$].<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />