Уважаемый(ая) [$TO_NAME$],<br /><br />

Это автоматическое письмо от портлета [$PORTLET_NAME$].<br /><br />

Документ с типом [$DOCUMENT_TYPE$] и именем [$DOCUMENT_TITLE$] был добавлен в папку [$FOLDER_NAME$].<br /><br />

С уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />