Уважаемый(ая) [$TO_NAME$],<br /><br />

[$CONTENT_TYPE$] с именем "[$CONTENT_TITLE$]" который относится к пользователю <a href="[$REPORTED_USER_URL$]">[$REPORTED_USER_NAME$]</a> ([$REPORTED_USER_ADDRESS$]) был отмечен как неприемлемый пользователем [$REPORTER_USER_NAME$] ([$REPORTER_USER_ADDRESS$]). Причина: "[$REASON$]". Дата отметки: [$DATE$].<br /><br />

Содержимое можно посмотреть по ссылке:

[$CONTENT_URL$]<br /><br />

Вы получили это письмо так как являетесь администратором сайта [$SITE_NAME$]. Пожалуйста просмотрите содержимое этого сайта.<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />