Уважаемый(ая) [$TO_NAME$],<br /><br />

Это автоматическое письмо от портлета [$PORTLET_NAME$].<br /><br />

Следующие ресурсы были добавлены для портлетов [$PORTLET_TITLE$]: [$ASSET_ENTRIES$].<br /><br />

С Уважением,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />